{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <h3>Profile of: {{ user.name }}</h3>
    <h4>Email: {{ user.email }}</h4>
    <img height=300px src="{{ user.profile_picture }}">
    <h4>Linkedin: {{ user.linkedin }}</h4>
</div>

<h4>Articles posted by {{ user.name }}</h4>
<ul>
{% for story in customuser.newsstory_set.all %}
    <li>{{ story.title }}</li>
{% endfor %}
</ul>

<!-- edit function -->
{% if request.user == customuser %}

<button id="edit-profile-button">
  <a href="{% url 'users:editAccount' %}">Edit Profile</a></button>

<div class="user-add-story">
  </br>
  <button id="new-story-button">
    <a href="{% url 'news:newStory' %}">Write New Story</a></button>
</div>

{% endif %}

{% endblock %}