{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.newsCategory }}</h4>
    <a href="{% url 'users:accountpage' story.author.id %}">
        {{ story.author }}</a>
    <div id="story-content">
        {% if story.image_url %}
        <img src="{{ story.image_url }}">
        {% else %}
        <img src="https://picsum.photos/300?random={{ story.id }}">
        {% endif %}
    
        {{ story.content|linebreaks }}
    </div>
</div>

<br>
<br>
<br>
<br>

{% if request.user.is_authenticated %}
<button>
    <a href="{% url 'news:editStory' story.author.id %}">Edit Story</a>
</button>
<br>
<br>
<button>
<a href="{% url 'news:deleteStory' story.author.id %}">Delete Story</a>
</button>
{% endif %}

{% endblock %}